@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.ql-editor {
    font-size: 1.05rem;
}
